.main-left {
    grid-area: "main-left";
    margin: auto;
}

.main-left > ul > li > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main-right {
    grid-area: "main-right"; 
}

.main-right > img {
    max-width: 100%;
}