.fas.fa-bars {
   position: absolute;
   left: 1rem;
   top: 1rem; 
}

.circle {
    top: 8px;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background: rgba(191, 192, 196, 0.16);
    position: relative;
}

.circle:hover {
    cursor: pointer;
}