.fas.fa-bars {
   position: absolute;
   left: 1.2rem;
   top: 1rem; 
}

.circle {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background: rgba(191, 192, 196, 0.16);
    position: relative;
}

.circle:hover {
    cursor: pointer;
}